<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>

  <hr/>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <hr/>

  <div class="field">
    <table>
      <tbody>
        <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'].each do |day| %>
          <tr>
            <th><%= day %></th>
            <td>
              <%= text_field_tag "customer[opening_hours][#{day.underscore}][]", ((@customer.opening_hours || {})[day.underscore] || [])[0] || '9h00' %>
              <%= text_field_tag "customer[opening_hours][#{day.underscore}][]", ((@customer.opening_hours || {})[day.underscore] || [])[1] || '12h00' %>
              &nbsp;&mdash;&nbsp;
              <%= text_field_tag "customer[opening_hours][#{day.underscore}][]", ((@customer.opening_hours || {})[day.underscore] || [])[2] || '14h00' %>
              <%= text_field_tag "customer[opening_hours][#{day.underscore}][]", ((@customer.opening_hours || {})[day.underscore] || [])[3] || '17h00'%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <hr/>

  <div class="field">
    <%= f.label :google_plus_link %>
    <%= f.text_field :google_plus_link %>
  </div>

  <div class="field">
    <%= f.label :facebook_link %>
    <%= f.text_field :facebook_link %>
  </div>

  <div class="field">
    <%= f.label :twitter_link %>
    <%= f.text_field :twitter_link %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
