<% content_for :title, 'Editing Customer' %>

<div class="page-actions">
  <%= link_to 'Show', @customer, class: 'btn' %>
  &nbsp;or&nbsp;
  <%= link_to 'Back to the list', customers_path %>
</div>

<%= render 'form', customer: @customer %>
