<% content_for :title, 'Customers' %>

<div class="page-actions">
  <%= link_to 'New Customer', new_customer_path, class: 'btn' %>
</div>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Site ?</th>
      <th>Address</th>
      <th>Phone number</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.company %></td>
        <td><%= customer.has_site? ? 'Yes' : 'no' %></td>
        <td><%= customer.address %></td>
        <td><%= customer.phone_number %></td>
        <td class="actions">
          <% unless customer.has_site? %>
            <%= link_to 'Create site', new_customer_site_path(customer), class: 'btn btn-sm' %>
          <% end %>

          <%= link_to 'Show', customer, class: 'btn btn-sm' %>
          <%= link_to 'Edit', edit_customer_path(customer), class: 'btn btn-sm' %>
          <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
