<% content_for :title, 'Show Customer' %>

<div class="page-actions">
  <% unless @customer.has_site? %>
    <%= link_to 'Create SiteBuilder site', new_customer_site_path(@customer), class: 'btn' %>
    &nbsp;or&nbsp;
  <% end %>
  <%= link_to 'Edit', edit_customer_path(@customer), class: 'btn' %>
  &nbsp;or&nbsp;
  <%= link_to 'Back to the list', customers_path %>
</div>

<p>
  <strong>Company:</strong>
  <%= @customer.company %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<div>
  <p><strong>Opening hours</strong></p>
  <ul>
    <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'].each do |day| %>
      <li>
        <strong><%= day %></strong>
        <%= ((@customer.opening_hours || {})[day.underscore] || [])[0] || '?' %>
        -
        <%= ((@customer.opening_hours || {})[day.underscore] || [])[1] || '?' %>
        &nbsp;&mdash;&nbsp;
        <%= ((@customer.opening_hours || {})[day.underscore] || [])[2] || '?' %>
        -
        <%= ((@customer.opening_hours || {})[day.underscore] || [])[3] || '?' %>

      </li>
    <% end %>
  </ul>
<div>


<p>
  <strong>Google plus link:</strong>
  <%= @customer.google_plus_link %>
</p>

<p>
  <strong>Facebook link:</strong>
  <%= @customer.facebook_link %>
</p>

<p>
  <strong>Twitter link:</strong>
  <%= @customer.twitter_link %>
</p>
