body {
  font-family: 'Montserrat', sans-serif;
  color: #4a3a2f;
}

#notice {
  margin: 0px;
  margin-bottom: 30px;
  padding: 20px 20px;
  text-align: center;
  background-color: #fff; //#2bff5a;
  color: #2b8a29;
  font-size: 16px;
  border: 1px solid #e2e2e2;
}

.navigation-app {
  position: relative;
  background: #882bff; //#1b222e;
  padding: 60px 100px;
  color: #fff;
}

.nav-brand {
  position: absolute;
  top: 20px;
  left: 100px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.nav-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 100;
}

.container {
  padding: 50px 100px;
}

.page-actions {
  text-align: right;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;

  thead th {
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #e2e2e2;
    color: #d0d0d0;
  }

  tbody td {
    padding: 15px;
    border-bottom: 1px solid #e2e2e2;
  }

  td.actions {
    text-align: right;
    a {
      margin-left: 10px;
    }
  }
}

form {
  .field {
    label {
      margin-bottom: 15px;

      &.error {
        color: red;
      }
    }

    > input[type=text], > input[type=email], > input[type=password] {
      width: 100%;
      padding: 10px;
      font-size: 14px;
      box-sizing: border-box;
    }

    margin-bottom: 20px;
  }

  hr {
    margin: 10px 0px;
  }

  .actions {
    margin-top: 20px;
    text-align: right;
  }

}

.btn {
  display: inline-block;
  background: #00ffc2;
  color: rgba(0, 0, 0, 0.6);
  padding: 10px 12px;
  font-size: 16px;
  text-decoration: none;
  border: none;

  &:hover {
    background: #00ffc2;
    color: #000;
  }

  &.btn-sm {
    font-size: 11px;
    padding: 3px 6px;
  }
}
