<!DOCTYPE html>
<html>
  <head>
    <title>Locomotive SiteBuilder - Simple CRM</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navigation-app">
      <div class="nav-brand">Simple CRM</div>
      <div class="nav-title"><%= yield :title %></div>
    </div>

    <div class="container">
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
